.pas__list6{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pas__listItem6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px
    
}
.pas__description{
    height: 18em;
    width: 14em;
    border-radius: 32px;
    position: absolute;
    top: 58%;
    background-color: #eaeaea;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pas__title{
    color: white;
    padding: 16px;
    height: 22%;
    border-radius: 32px 32px 0 0;
    margin: 4px;
}
.pas__title.--globo1{ 
    background-color: #a640a9;
}
.pas__title.--globo2{
   background-color: #0096e0;
}
.pas__title.--globo3{
    background-color: #f85636;
}
.pas__title.--globo4{
    background-color: #79c279;
}

.pas__globe{
    cursor: pointer;
}

.pas__textGlobe{
    font-size: 14px;
    margin: 0;
    padding: 8px;
}


@media screen and (max-width: 720px){
    .pas__list6{
        flex-direction: column;
    }
    .pas__listItem6 {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 16px;
    }
    .pas__description{
        position: inherit;
        margin: 24px;
    }
    
}


@media screen and (max-width: 375px){
    .pas__listItem6{
        margin: 2px;
    }
    .pas__globe{
        width: 35%;
    }
    .globo1__description{
        margin: 8px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}
