.background__square.--phase6{
    background-color: var(--firstYellow);

}
.background.--type012{
    background-image: url('../images/recurso_73.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background__image.--pas_phase6{
    position: absolute;
    top: 57%;
    right: 25%;
    z-index: 11;
    width: 17%;
}

.content__dialog.--pas_fase6{
    background-image: url('../images/recurso_165.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.content__dialog.--pas_2_fase6{
    background-image: url('../images/recurso_160.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--obj_fase6_postits{
    background-image: url('../images/recurso_160.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background.--her_fase6{
    background-image: url('../images/recurso_174.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menu__title.--phase6 {
    background-color: var(--titleYellow);
}

.menu__title.--phase6:before {
    border-left: 36px solid var(--titleYellow);
    border-top: 12px solid var(--titleYellow);
}

.phase__menuIcon.--phase6 {
    background-color: var(--titleYellow);
}

.phase__text_active.--phase6 {
    color: var(--titleYellow);
}

.phase__text.--phase6:hover {
    color: var(--titleYellow);
}

@media screen and (max-width: 720px){
    .background__animation.--phase6{
        height: 73%;
    }
}
