.content__dialog.--tip_fase8{
    align-items: flex-end;
}

.tools.--toolsTips8{
    height: 71%;
}

.pas__listItem{
    background-color: white;
	border-radius: 24px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 16px;
	overflow: hidden;
	width: 700px;
}

.pas__paso{
	color: white;
	padding: 30px;
	max-width: 250px;
	text-align: center;
	font-size: 24px;
}

#paso1{
	background-color: #a640a9;
}
#pasoText1{
	color:  #a640a9;;
}
#paso2{
	background-color: #1db5e0;
}
#pasoText2{
	color:  #1db5e0;;
}
#paso3{
	background-color: #f85636;
}
#pasoText3{
	color:  #f85636;;
}
#paso4{
	background-color: #79c279;
}
#pasoText4{
	color:  #79c279;;
}
#paso5{
	background-color: #083b85;
}
#pasoText5{
	color:  #083b85;;
}

.pas__pasoTitle{
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.pas__text{
	color: black;
	display: inline-block;
	margin: 16px;
	text-decoration: none;
}	


@media screen and (max-width: 375px){
	.content__dialog.--tip_fase8 {
		height: 130%;
		display: flex;
		align-items: flex-end;
	}
	.tools.--toolsTips8 {
		height: 96%;
		align-items: flex-end;
	}
	.cards.--toolsTips {
		height: fit-content;
	}
}