.background__square.--phase7{
    background-color: var(--firstLightGreen);

}
.background.--type014{
    background-image: url('../images/recurso_190.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--her_fase7{
    background-image: url('../images/recurso_208.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--tip_fase7{
    background-image: url('../images/recurso_216.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--pas_2_fase7{
    background-image: url('../images/recurso_198.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--obj_fase7_postits{
    background-image: url('../images/recurso_198.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menu__title.--phase7 {
    background-color: var(--titleLightGreen);
}

.menu__title.--phase7:before {
    border-left: 36px solid var(--titleLightGreen);
    border-top: 12px solid var(--titleLightGreen);
}

.phase__menuIcon.--phase7 {
    background-color: var(--titleLightGreen);
}

.phase__text_active.--phase7 {
    color: var(--titleLightGreen);
}

.phase__text.--phase7:hover {
    color: var(--titleLightGreen);
}

.content__dialog.--tip_fase7{
    align-items: flex-end;
}

@media screen and (max-width: 720px){
    .postits__list.--phase7{
        height: fit-content;    
        background-color: var(--firstLightGreen);
    }
}
