.background__square.--phase8{
    background-color: var(--firstMora);

}
.rompecabezas{
    width: 100%;
    margin-top: 7%;
}
.background.--type016{
    background-image: url('../images/recurso_229.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--pas_fase8{
    background-image: url('../images/recurso_244.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--her_fase8{
    background-image: url('../images/recurso_144.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--tip_fase8{
    background-image: url('../images/recurso_144.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 317px;
}

.content__dialog.--pas_2_fase8{
    background-image: url('../images/recurso_238.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.pas__list{
    padding: 0;
    margin: 8px;
}

.content__dialog.--obj_fase8_postits{
    background-image: url('../images/recurso_238.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


@media screen and (max-width: 720px){
    .postits.--fase8{
        background-image: url('../images/recurso_238.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    
    }
}

.menu__title.--phase8 {
    background-color: var(--titleMora);
}

.menu__title.--phase8:before {
    border-left: 36px solid var(--titleMora);
    border-top: 12px solid var(--titleMora);
}

.phase__menuIcon.--phase8 {
    background-color: var(--titleMora);
}

.phase__text_active.--phase8 {
    color: var(--titleMora);
}

.phase__text.--phase8:hover {
    color: var(--titleMora);
}

