.background.--type005 {
    background-image: url('../images/recurso_39.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background.--obj_fase2_postits {
    background-image: url('../images/recurso90.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background.--obj_fase3_postits{
    background-image: url('../images/recurso_15.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.postits {
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    display: inline-flex;
    justify-content: flex-end;
    align-content: center;
    overflow-y: scroll;

}

.postit {
    line-height: 1;
    margin: 8px;
    min-height: fit-content;
    max-height: fit-content;
    padding: 8px;
    border: 1px solid #E8E8E8;
    border-top: 4px solid #f9f4b4;
    border-bottom-right-radius: 60px 5px;
    display: inline-block;
    background: #f9f4b4;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f9f4b4 81%, #f9f4b4 82%, #f9f4b4 82%, #ffff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #f9f4b4), color-stop(82%, #f9f4b4), color-stop(82%, #f9f4b4), color-stop(100%, #ffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #f9f4b4 81%, #f9f4b4 82%, #f9f4b4 82%, #ffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #f9f4b4 81%, #f9f4b4 82%, #f9f4b4 82%, #ffff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #f9f4b4 81%, #f9f4b4 82%, #f9f4b4 82%, #ffff 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #f9f4b4 81%, #f9f4b4 82%, #f9f4b4 82%, #ffff 100%);
    box-shadow: -1px 3px 10px rgb(33 33 33 / 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f4b4', endColorstr='#ffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.postits__list {
    height: fit-content;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 8px;
}

.postits__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 100%;
}

.postits__itemTittle {
    font-family: 'Futura_bold';
    color: var(--secondBlue);
    font-size: 40px;
    line-height: normal;
    margin: 8px 0;
}

.postits__text {
    margin: 8px;
    padding: 9px;
    font-size: 0.9em;
    line-height: 15px;
    color: var(--secondBlue);
    font-weight: 500;
}

.postits__itemPost {
    height: 43%;
    width: 80%;
    display: flex;
    align-items: center;
}

#post1 {
    font-size: 22px;
    border: 1px solid #7ecfe4;
    border-top: 4px solid #7ecfe4;
    background: #7ecfe4;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7ecfe4 81%, #7ecfe4 82%, #7ecfe4 82%, #eaeaea 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #7ecfe4), color-stop(82%, #7ecfe4), color-stop(82%, #7ecfe4), color-stop(100%, #eaeaea));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #7ecfe4 81%, #7ecfe4 82%, #7ecfe4 82%, #eaeaea 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #7ecfe4 81%, #7ecfe4 82%, #7ecfe4 82%, #eaeaea 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #7ecfe4 81%, #7ecfe4 82%, #7ecfe4 82%, #eaeaea 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #7ecfe4 81%, #7ecfe4 82%, #7ecfe4 82%, #eaeaea 100%);
    box-shadow: -1px 3px 10px rgb(33 33 33 / 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ecfe4', endColorstr='#eaeaea', GradientType=1);
}

#post1 p{
    line-height: 22px;
}


#post2 {
    border: 1px solid #ea7de4;
    border-top: 4px solid #ea7de4;
    background: #ea7de4;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ea7de4 81%, #ea7de4 82%, #ea7de4 82%, #f9d7f9 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ea7de4), color-stop(82%, #ea7de4), color-stop(82%, #ea7de4), color-stop(100%, #f9d7f9));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ea7de4 81%, #ea7de4 82%, #ea7de4 82%, #f9d7f9 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ea7de4 81%, #ea7de4 82%, #ea7de4 82%, #f9d7f9 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ea7de4 81%, #ea7de4 82%, #ea7de4 82%, #f9d7f9 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #ea7de4 81%, #ea7de4 82%, #ea7de4 82%, #f9d7f9 100%);
    box-shadow: -1px 3px 10px rgb(33 33 33 / 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea7de4', endColorstr='#f9d7f9', GradientType=1);
}

#post2 p {
    font-size: 48px;
    line-height: 43px;
    margin: 0;
    padding: 22px;
}

.postits__itemList {
    list-style: none;
}


.postits__itemPost.--thirdColumn {
    width: 100%;
}

.postits__itemList {
    height: 100%;
    padding: 0;
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
}


@media screen and (max-width:1280px) {
    .postits__itemTittle {
        font-size: 36px;
        line-height: 31px;
        margin-top: 14px;
    }
}

@media screen and (max-width:768px) {
    .content__dialog.--obj_fase1_postits {
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }

    .content__dialog.--obj_fase2_postits {
        position: relative;
        height: inherit;
        overflow-y: scroll;
    }

    .content__dialog.--obj_fase3_postits {
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }

    .content__dialog.--obj_fase4_postits {
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }

    .content__dialog.--obj_fase5_postits {
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }

    .content__dialog.--obj_fase6_postits {
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }

    .content__dialog.--obj_fase7_postits {
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }

    .content__dialog.--obj_fase8_postits {
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }

    .postits {
        width: 100%;
    }

    .postits__itemPost.--thirdColumn {
        width: inherit;
        height: inherit;
    }
    .postits__itemPost {
        justify-content: center;
    }
    .postits__list.--phase1 {
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_31.png');
    }

    .postits__list.--phase2 {
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso90.png');
    }

    .postits__list.--phase3 {
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_15.png');
    }

    .postits__list.--phase4 {
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_67.png');
    }

    .postits__list.--phase5 {
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_122_122.png');
    }

    .postits__list.--phase6 {
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_160.png');
    }

    .postits__list.--phase7 {
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_198.png');
    }

    .postits__list.--phase7 {
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_238.png');
    }

    .postits__item {
        width: 80%;
        align-items: center;
    }

    .postits__text {
        font-size: 15px;
    }

    #post1 {
        width: 40%;
    }

    #post2 {
        width: 32%;
    }


}

@media screen and (max-width:430px) {

    .content__dialog.--obj_fase1_postits {
        height: 42%;
        position: relative;
    }

    .content__dialog.--obj_fase2_postits {
        height: 42%;
        position: relative;
    }

    .content__dialog.--obj_fase3_postits {
        height: 42%;
        position: relative;
    }

    .content__dialog.--obj_fase4_postits {
        height: 42%;
        position: relative;
    }

    .content__dialog.--obj_fase5_postits {
        height: 42%;
        position: relative;
    }

    .content__dialog.--obj_fase6_postits {
        height: 42%;
        position: relative;
    }

    .content__dialog.--obj_fase7_postits {
        height: 42%;
        position: relative;
    }

    .content__dialog.--obj_fase8_postits {
        height: 42%;
        position: relative;
    }

    .postits__list.--phase1 {
        height: max-content;
        align-items: center;
    }

    .postits__list.--phase2 {
        height: max-content;
        align-items: center;
    }

    .postits {
        width: 100%;
    }

    .postits__item {
        width: 100%;
    }

    .list__item {
        display: flex;
        justify-content: center;
    }

    .postits__itemPost {
        width: 90%;
    }

    #post1 {
        width: 48%;
    }

    #post2 {
        width: 42%;
    }
}

@media screen and (max-width: 375px) {
    #post1 {
        width: 52%;
    }

}