.tools.--toolsTips5{
    height: inherit;
}

.tools.--phase5{
    height: inherit;
    display: flex;
    align-items: flex-end;

}
.cards.--toolsTips5{
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
}
.cards.--toolsTips5 li:nth-child(1){
    width: 28%;
    height: 21%;
    background-image: url('../images/recurso_62.png');
}
.cards.--toolsTips5 li:hover:nth-child(1){
    background-image: url('../images/recurso_24.png');
}
.cards.--toolsTips5 li:nth-child(2){
    width: 28%;
    height: 21%;
    background-image: url('../images/recurso_63.png');
}
.cards.--toolsTips5 li:hover:nth-child(2){
    width: 28%;
    height: 21%;
    background-image: url('../images/recurso_25.png');
}
.cards.--toolsTips5 li:nth-child(3){
    width: 28%;
    height: 21%;
    background-image: url('../images/recurso_41_41.png');
}
.cards.--toolsTips5 li:hover:nth-child(3){
    background-image: url('../images/recurso_26.png');
}
