.tools {
    width: 100%;
    height: 80%;
    display: flex;
}

.cards.--phase8 {
    flex-direction: column;
}

.content__dialog.--her_fase8 {
    align-items: flex-end;
}

.cards.--toolsCards {
    justify-content: flex-end;
    align-items: flex-end;
}

.card__item.--toolsCards2 {
    width: 49%;
}

.card__text2.--toolsText3 {
    padding: 8px;
}

.card__text.--toolsText5 {
    padding: 14px 0;
    width: 100%;
    font-size: 19px;
}

.cards.--toolsCards li {
    height: 40%;
    background-image: url('../images/recurso_59.png');
}

.cards.--toolsCards li:hover {
    height: 40%;
    background-image: url('../images/recurso_60.png');
}

.card__text.--toolsText {
    margin: 0 0 0 98px;
}

.card__text2.--toolsText {
    margin: 0;
    font-size: 15px;
    line-height: 16px;
    padding: 32px 8px;
}

.card__text.--toolsText1 {
    width: 90%;
}

.tools.--phase2 {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.tools.--phase4 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.tools.--phase5 {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cards.--toolsCards2 {
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.card__text.--toolsText2 {
    font-size: 40px;
    margin: 16px;
}

.tools.--phase1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.cards.--toolsCards2 li:nth-child(1) {
    max-width: 100%;
    background-color: var(--firstBlue);
    border-radius: 20px;
    border: solid 6px var(--dialogBeige);
}

.cards.--toolsCards2 li:hover:nth-child(1) {
    background-color: var(--mainButton);
}

.cards.--toolsCards2 li:nth-child(2) {
    max-width: 100%;
    background-color: var(--hoverButton);
    border-radius: 20px;
    border: solid 6px var(--dialogBeige);
}

.cards.--toolsCards2 li:hover:nth-child(2) {
    background-color: var(--hoverButton);
}

.cards.--toolsCards2 li:nth-child(3) {
    max-width: 100%;
    background-color: var(--darkPurple);
    border-radius: 20px;
    border: solid 6px var(--dialogBeige);
}

.cards.--toolsCards2 li:hover:nth-child(3) {
    background-color: var(--titlePurple);
}

.cards.--toolsCards2 li:nth-child(4) {
    max-width: 100%;
    background-color: var(--cardGreen);
    border-radius: 20px;
    border: solid 6px var(--dialogBeige);
}

.cards.--toolsCards2 li:hover:nth-child(4) {
    background-color: var(--titleLightGreen);
}


.cards.--toolsCards2.--phase4 {
    align-content: flex-end;
}

.cards.--toolsCards2.--phase4 li:nth-child(1) {
    height: 35%;
    width: 41%;
}

.cards.--toolsCards2.--phase4 li:nth-child(2) {
    height: 35%;
    width: 41%;
}

.cards.--toolsCards2.--phase4 li:nth-child(3) {
    height: 35%;
    width: 41%;
}

.card__text.--toolsText8 {
    width: 93%;
}

@media screen and (max-width:1450px) {
    .card__btn {
        padding: 8px;
    }

    .card__text2.--toolsText {
        padding: 8px 8px;
    }
}


@media screen and (max-width: 1024px) {
    .cards.--toolsCards2 {
        margin: 80px 0 0 0;
        padding: 70px 0 0 0;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .cards.--toolsCards2.--phase2 {
        align-items: flex-end;
        align-content: flex-end;
    }

    .cards.--toolsCards2.--phase3 {
        align-items: flex-end;
        align-content: flex-end;
    }
}

@media screen and (max-width: 768px) {

    .content__dialog.--her_fase1 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--her_fase2 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--her_fase3 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--her_fase4 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--her_fase5 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--her_fase6 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--her_fase7 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--her_fase8 {
        width: 100%;
        height: 46%;
    }
}

@media screen and (max-width: 430px) {
    .tools.--phase1 {
        flex-wrap: wrap;
        align-content: flex-end;
        height: 84%;
        overflow-y: scroll;
        display: block;
    }

    /* .card__item {
        width: 62%;
        height: 50%;
    } */

    /* .cards.--toolsCards {
        margin: 8px;
        height: 45%;
        width: 100%;
    }

    .card__text.--toolsText {
        margin: 0 0 0 63px;
    }

    .card__text2.--toolsText {
        margin: 0;
        font-size: 10px;
    } */

    .content__dialog.--her_fase2 {
        height: 48%;
    }

    .content__dialog.--her_fase3 {
        height: 48%;
    }

    .content__dialog.--her_fase7 {
        height: 48%;
    }

    .content__dialog.--her_fase8 {
        height: 48%;
    }

    .content__dialog.--her_fase4 {
        height: 80%;
        background-color: var(--titleGreen);
    }

    .content__dialog.--her_fase5 {
        height: 80%;
        background-color: var(--titlePink);
    }

    .tools.--phase2 {
        position: relative;
        height: 100%;
    }

    .tools.--phase4 {
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: flex-end;
    }

    .tools.--phase5 {
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: flex-end;
    }

    .card__text.--toolsText1 {
        font-size: 21px;
        margin: auto;
    }

    .cards.--toolsCards2.--phase2 {
        display: flex;
        align-content: flex-end;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 100%;
    }

    .cards.--toolsCards2.--phase3 {
        display: flex;
        align-content: flex-end;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 100%;
    }

    .cards.--toolsCards2.--phase3 {
        display: flex;
        align-content: flex-end;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 100%;
    }

    .cards.--toolsCards2.--phase4 {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        height: 80%;
        justify-content: center;
    }

    .card__text.--toolsText8 {
        font-size: 16px;
        margin: 0;
        width: 100%;
    }
}