.background__square.--phase2{
    background-color: var(--firstPurple);

}
.rompecabezas{
    width: 100%;
    margin-top: 7%;
}
.background.--type006{
    background-image: url('../images/recurso_73.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--her_fase2{
    background-image: url('../images/recurso95.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--tip_fase2{
    background-image: url('../images/recurso97.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 317px;
}
.bckg__img{
    position: absolute;
    top: 48%;
    right: 17%;
}

.menu__title.--phase2 {
    background-color: var(--titlePurple);
}

.menu__title.--phase2:before {
    border-left: 36px solid var(--titlePurple);
    border-top: 12px solid var(--titlePurple);
}

.phase__menuIcon.--phase2 {
    background-color: var(--titlePurple);
}

.phase__text_active.--phase2 {
    color: var(--titlePurple);
}

.phase__text.--phase2:hover {
    color: var(--titlePurple);
}


@media screen and (max-width: 1450px){
    .bckg__img{
        top: 41%;
        right: 7%;
    }
}


@media screen and (max-width: 1280px){
    .bckg__img{
        top: 41%;
        right: 6%;
    }
}


@media screen and (max-width: 720px){
    .bckg__img{
        top: 57%;
        right: 0%;
    }
}


@media screen and (max-width: 375px){
    .bckg__img{
        top: 60%;
        right: 14%;
        width: 74%;
    }
}


