.background.--type005{
    background-image: url('../images/recurso_39.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--obj_fase2_postits{
    background-image: url('../images/recurso90.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.postits{
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    display: inline-flex;
    justify-content: flex-end;
    align-content: center;

}
.postits__list{
    height: 100%;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.postits__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
}

.postits__itemTittle{
    font-family: 'Futura_bold';
    color:  var(--secondBlue);  
    font-size: 40px;
}

.postits__text{
    margin: 16px;
    padding: 16px;
    font-size: 14px;
    color:  var(--secondBlue);  
    font-weight: 500;
}

.postits__itemPost{
    height: 43%;
    width: 80%;
    display: flex;
    align-items: center;
}

#post1 {
    background-image: url('../images/recurso_41.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
#post2 {
    background-image: url('../images/recurso_42.png');
    background-repeat: no-repeat;
    height: 250px;
}

#post2 p{
    font-size: 40px;
}

.postits__itemList{
    list-style: none;
}

#post3 {
    background-image: url('../images/recurso_48.png');
    background-repeat: no-repeat;
    height: 278px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
}
#post4 {
    background-image: url('../images/recurso_45.png');
    background-repeat: no-repeat;
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 249px;
    position: absolute;
    right: 1%;
    top: 66%;
}
#post5 {
    background-image: url('../images/recurso_46.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 338px;
    width: 312px;
    position: absolute;
    top: 40%;
    right: 15%;
}

#post5 p{
    padding: 0 32px 0 8px;
}

.postits__itemPost.--thirdColumn{
    width: 100%;
}
.postits__itemList{
    height: 100%;
    padding: 0;
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
}


@media screen and (max-width:1450px){
    #post1 {
        background-size: 100%;
        height: 322px;
        width: 96%;
    }
    #post2 {
        background-size: 100%;
        height: 222px;
        width: 70%;
    }
    #post3{
        background-size: 100%;
        height: 231px;
        width: 218px;
        font-size: 14px;
    }
    #post5{
        background-size: 100%;
        height: 291px;
        width: 251px;
        font-size: 14px;
        position: absolute;
        right: 17%;
        top: 44%;
    }
    #post4{
        top: 70%;
        right: 4%;
        background-size: 100%;
        height: 224px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 206px;
        position: absolute;
        font-size: 14px;
    }
}

@media screen and (max-width:1280px){
    .postits__itemTittle {
        font-size: 36px;
    }
}
@media screen and (max-width:1024px){
    .logo {
        width: 43%;
    }
    #post1 {
        height: 30%;
    }
    #post2 {
        height: 20%;
    }
}

@media screen and (max-width:768px){
    .content__dialog.--obj_fase1_postits{
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }
    .content__dialog.--obj_fase2_postits{
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }
    .content__dialog.--obj_fase3_postits{
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }
    .content__dialog.--obj_fase4_postits{
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }
    .content__dialog.--obj_fase5_postits{
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }
    .content__dialog.--obj_fase6_postits{
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }
    .content__dialog.--obj_fase7_postits{
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }
    .content__dialog.--obj_fase8_postits{
        position: relative;
        height: 47%;
        overflow-y: scroll;
    }

    .postits {
        height: 54%;
        width: 100%;
        position: absolute;        
    }

    .postits__itemPost.--thirdColumn{
        width: inherit;
        height: inherit;
    }

    .postits__list.--phase1{
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_31.png');
    }
    .postits__list.--phase2{
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso90.png');
    }
    .postits__list.--phase3{
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_15.png');
    }
    .postits__list.--phase4{
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_67.png');
    }
    .postits__list.--phase5{
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_122_122.png');
    }
    .postits__list.--phase6{
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_160.png');
    }
    .postits__list.--phase7{
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_198.png');
    }
    .postits__list.--phase7{
        flex-direction: column;
        height: fit-content;
        background-image: url('../images/recurso_238.png');
    }

    .postits__item{
        width: 80%;
    }

    .postits__text {
       font-size: 15px;
    }
    #post1 {
        width: 40%;
    }
    #post2 {
        width: 32%;
    }
    #post4 {
        position: inherit;
        width: 72%;
        height: 353px;
    }
    #post5 {
        width: 71%;
        height: 353px;
        position: inherit;
    }
    #post3 {
        position: inherit;
        width: 75%;
        height: 374px;
    }
}

@media screen and (max-width:430px){

    .content__dialog.--obj_fase1_postits{
        height: 42%;
        position: relative;
    }
    .content__dialog.--obj_fase2_postits{
        height: 42%;
        position: relative;
    }
    .content__dialog.--obj_fase3_postits{
        height: 42%;
        position: relative;
    }
    .content__dialog.--obj_fase4_postits{
        height: 42%;
        position: relative;
    }
    .content__dialog.--obj_fase5_postits{
        height: 42%;
        position: relative;
    }
    .content__dialog.--obj_fase6_postits{
        height: 42%;
        position: relative;
    }
    .content__dialog.--obj_fase7_postits{
        height: 42%;
        position: relative;
    }
    .content__dialog.--obj_fase8_postits{
        height: 42%;
        position: relative;
    }
    .postits__list.--phase1{
        height: max-content;
        align-items: center;
    }
    .postits__list.--phase2{
        height: max-content;
        align-items: center;
    }
    .postits {
        position: relative;
        width: 100%;
        /* height: -webkit-fill-available;
        height: -moz-available;  
        height: fill-available; */
        height: inherit;  
    }

    .postits__text{
        font-size: 12px;
    }
    .postits__item {
        width: 100%;
    }
    .list__item{
        display: flex;
        justify-content: center;
    }
    .postits__itemPost{
        width: 90%;
    }
    #post1 {
        width: 48%;
    }
    #post2 {
        width: 42%;
    }
    #post3 {
        width: 49%;
        height: 212px;
    }
    #post4 {
        width: 49%;
        height: 202px;
    }
    #post5 {
        width: 62%;
        height: 263px;
    }
}

@media screen and (max-width: 375px){
    #post1 {
        width: 52%;
    }
    #post4 {
        width: 61%;
    }
    #post5 {
        width: 69%;
    }
}