.background__square.--phase5{
    background-color: var(--firstPink);

}
.background.--type010{
    background-image: url('../images/recurso_144.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background__image.--pas_phase6{
    position: absolute;
    top: 57%;
    right: 25%;
    z-index: 11;
    width: 17%;
}

.content__dialog.--pas_fase5{
    background-image: url('../images/recurso_144.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.content__dialog.--pas_2_fase5{
    background-image: url('../images/recurso_122_122.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--obj_fase5_postits{
    background-image: url('../images/recurso_122_122.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background.--her_fase5{
    background-image: url('../images/recurso_128.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background.--tip_fase5{
    background-image: url('../images/recurso_138.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menu__title.--phase5 {
    background-color: var(--titlePink);
}

.menu__title.--phase5:before {
    border-left: 36px solid var(--titlePink);
    border-top: 12px solid var(--titlePink);
}

.phase__menuIcon.--phase5 {
    background-color: var(--titlePink);
}

.phase__text_active.--phase5 {
    color: var(--titlePink);
}

.phase__text.--phase5:hover {
    color: var(--titlePink);
}

.pas__list.--phase5{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.person.--pas_fase5{
    height: 65%;
    bottom: 0;
    position: absolute;
    left: 22%;
}

@media screen and (max-width: 720px){
    .background__animation.--phase5{
        height: 73%;
    }
}


