.background__square.--phase4{
    background-color: var(--firstGreen);

}
.background.--type008{
    background-image: url('../images/recurso_59_59.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--pas_fase4{
    background-image: url('../images/recurso_73_73.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--pas_2_fase4{
    background-image: url('../images/recurso_67.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--obj_fase4_postits{
    background-image: url('../images/recurso_67.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background.--her_fase4{
    background-image: url('../images/recurso57.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background.--tip_fase4{
    background-image: url('../images/recurso_95.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--tip_fase4{
    align-items: flex-end;
}


.menu__title.--phase4 {
    background-color: var(--titleGreen);
}

.menu__title.--phase4:before {
    border-left: 36px solid var(--titleGreen);
    border-top: 12px solid var(--titleGreen);
}

.phase__menuIcon.--phase4 {
    background-color: var(--titleGreen);
}

.phase__text_active.--phase4 {
    color: var(--titleGreen);
}

.phase__text.--phase4:hover {
    color: var(--titleGreen);
}

@media screen and (max-width: 720px){
    .background__animation.--phase4{
        height: 73%;
    }
}

@media screen and (max-width: 430px){
    .dialogBox__text{
        font-size: 13px;
    }
}



