.tools.--toolsTips {
    justify-content: space-around;
}

.cards.--toolsTips {
    justify-content: flex-end;
    align-items: flex-end;
}

.card__front {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card__item.--tips {
    width: 50%;
}

.card__text.--tips {
    margin: 0;
    width: fit-content;
    font-size: 50px;
    padding: 16px 0;
}

.card__item:hover .card__icon {
    display: none;
}

.cards.--toolsTips li:nth-child(1) {
    height: 40%;
    background-image: url('../images/recurso_62.png');
}

.cards.--toolsTips li:hover:nth-child(1) {
    background-image: url('../images/recurso_24.png');
}

.cards.--toolsTips li:nth-child(2) {
    height: 40%;
    background-image: url('../images/recurso_63.png');
}

.cards.--toolsTips li:hover:nth-child(2) {
    background-image: url('../images/recurso_25.png');
}

.cards.--toolsTips li:nth-child(3) {
    height: 40%;
    background-image: url('../images/recurso_41_41.png');
}

.cards.--toolsTips li:hover:nth-child(3) {
    background-image: url('../images/recurso_26.png');
}

.card__text2.--tipsText {
    margin: 0;
    font-size: 13px;
    padding: 0;
    line-height: 13px;
}

.tools.--toolsTips5 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards.--toolsTips5 {
    height: 36%;
    display: contents;
}

.cards.--toolsCards2.--tips li:nth-child(1) {
    max-width: 100%;
    background-color: var(--darkPurple);
    border-radius: 20px;
    border: solid 6px var(--dialogBeige);
}

.cards.--toolsCards2.--tips li:hover:nth-child(1) {
    background-color: var(--titlePurple);
}

.cards.--toolsCards2.--tips li:nth-child(2) {
    max-width: 100%;
    background-color: var(--firstBlue);
    border-radius: 20px;
    border: solid 6px var(--dialogBeige);
}

.cards.--toolsCards2.--tips li:hover:nth-child(2) {
    background-color: var(--mainButton);
}

.cards.--toolsCards2.--tips li:nth-child(3) {
    max-width: 100%;
    background-color: var(--hoverButton);
    border-radius: 20px;
    border: solid 6px var(--dialogBeige);
}

.cards.--toolsCards2.--tips li:hover:nth-child(3) {
    background-color: var(--hoverButton);
}

.content__dialog.--tip_fase4 {
    display: flex;
    width: 70%;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.content__dialog.--tip_fase3 {
    display: flex;
    width: 70%;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.content__dialog.--tip_fase2 {
    display: flex;
    width: 70%;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.content__dialog.--tip_fase5 {
    display: flex;
    width: 70%;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}
.content__dialog.--tip_fase6 {
    display: flex;
    width: 70%;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.content__dialog.--tip_fase7 {
    display: flex;
    width: 70%;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.content__dialog.--tip_fase8 {
    display: flex;
    width: 70%;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width:1450px) {
    .card__text.--tips {
        font-size: 58px;
    }
}

@media screen and (max-width:1024px) {
    .tools.--toolsTips5 {
        flex-wrap: wrap;
        /* align-content: flex-end; */
        overflow-y: scroll;
    }

    .card__text.--tips {
        font-size: 58px;
    }

    .card__text2.--toolsText {
        font-size: 14px;
        padding: 8px;
    }


    /* .cards.--toolsTips5 li:nth-child(1) {
        width: 64%;
        height: 33%;
    }
    .cards.--toolsTips5 li:nth-child(2) {
        width: 64%;
        height: 33%;
    }
    .cards.--toolsTips5 li:nth-child(3) {
        width: 64%;
        height: 33%;
    } */
}


@media screen and (max-width: 768px) {
    .tools.--toolsTips {
        justify-content: space-around;
    }

    .tools.--toolsTips5 {
        flex-wrap: wrap;
        align-content: flex-end;
        height: 89%;
        overflow-y: scroll;
        display: block;
    }

    .cards.--toolsCards2 {
        margin: 50px 0 0 0;
        padding: 40px 0 0 0;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .card__item .--tips {
        width: 60%;
    }

    .content__dialog.--tip_fase2 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--tip_fase3 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--tip_fase4 {
        width: 100%;
        height: 46%;
    }
    .content__dialog.--tip_fase6 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--tip_fase7 {
        width: 100%;
        height: 46%;
    }

    .content__dialog.--tip_fase8 {
        width: 100%;
        height: 46%;
    }

    #person8{
        display: none;
    }
    #person10{
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .tools.--toolsTips5 {
        height: 81%;
    }

    .tools.--toolsTips5.--phases2 {
        height: 30%;
    }
    .card__item.--tips {
        width: 80%;
    }
    .card__item {
        margin: 8px;
        width: 85%;
    }

    .card__text.--tips {
        margin: 0;
        width: auto;
        font-size: 30px;
    }

    .card__front {
        height: inherit;
    }
    .content__dialog.--tip_fase2 {
        height: 75%;
    }
    .content__dialog.--tip_fase3 {
        height: 75%;
    }
    .content__dialog.--tip_fase4 {
        height: 75%;
    }
    .content__dialog.--tip_fase5 {
        height: 75%;
    }
    .content__dialog.--tip_fase6 {
        height: 75%;
    }
    .content__dialog.--tip_fase7 {
        height: 75%;
    }
    .content__dialog.--tip_fase8 {
        height: 75%;
    }
}


@media screen and (max-width: 360px) {
    /* .cards.--toolsTips {
        height: 56%;
    }
    .card__btn.--toolsTips{
        padding: 0;
    }
    .cards.--toolsTips5.--phase2 li:nth-child(1) {
        width: 40%;
    }
    .cards.--toolsTips5.--phase2 li:nth-child(2) {
        width: 40%;
    }
    .cards.--toolsTips5.--phase2 li:nth-child(3) {
        width: 40%;
    } */
}