.background.--type004{
    background-image: url('../images/recurso_38.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menu__title:before{
    border-radius: 10px;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 36px solid var(--titleBlue);
    border-top: 12px solid var(--titleBlue);
    border-bottom: 36px solid transparent;
    left: 234px;
    top: 151px;
}

.menu__phase{
    height: 80%;
    position: absolute;
    bottom: 0;
    width: 30%;
    font-family: 'Futura_bold';
}

.phase__textMain{
    margin: 16px;
    padding: 8px;
}


.titlePhase{
    text-transform: uppercase;
    font-size: 80px;
    color: white;
    margin: 8px;
}

.title__secondary{
    font-size: 64px;
    color: white;
    margin: 0;
}

.phase__textDescription{
    color: white;
    margin: 16px;
    padding: 0 48px 0 8px;
    font-family: 'Futura_medium';
}

.textDescription{
    font-size: 20px;
}

.phase__menuList{
    list-style: none;
    padding: 8px;
    margin: 16px;
}

.phase__menuItem{
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.phase__menuIcon{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: var(--mainButton);
}

.phase__icon{
    width: 42%;
}

.phase__menuText{
    font-family: 'Futura_heavy';
    color: white;
}

.phase__text{
    margin: 8px;
    font-size: 21px;
    padding: 0 8px;
    font-family: 'Futura_heavy';
    color: white;
}

.phase__text:hover,.phase__text_activo{
    color:var(--mainButton);
}

.phase__textMin{
    margin: 0 8px;
    padding: 0 8px;
    font-size: 14px;
    font-family: 'Futura_medium';
}

.phase__dialog{
    line-height: 24px;
    background: var(--dialogBeige);
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    color: var(--secondBlue);
    font-weight: 800;
    width: 63%;
    height: fit-content;
    position: absolute;
    top: 112px;
}

@media screen and (max-width:1450px){
    .titlePhase{
        font-size: 56px;
    }
    .title__secondary {
        font-size: 48px;
    }
    .menu__title:before {
        top: 123px;
    }
    .textDescription {
        font-size: 18px;
    }
}

@media screen and (max-width:720px){
    .content__menu {
        height: 48%;
    }

    .menu__title{
        width: 100%;
        height: 14%;
    }
    .menu__title:before {
        top: 156px;
    }
    .titlePhase {
        font-size: 48px;
    }
    .menu__phase{
        width: 100%;
        top: 180px;
    }
    .phase__textDescription {
        padding: 0 8px;
    }
    .textDescription {
        font-size: 20px;
    }

    .phase__dialog{
        top: 46%;
        font-size: 20px;
    }

    .phase__menuList{
        display: flex;
        flex-wrap: wrap;
    }

    .phase__menuItem{
        width: 50%;
    }

    .menu__person.--person4{
        left: 6%;
    }

    .menu__personRight{
        right: 30%;
    }
    #person4
    #person5 {
        height: 463px;
    }
}

@media screen and (max-width:375px){
    .menu__title:before {
        top: 70px;
        left: 158px;
    }
    .menu__phase {
        top: 15%;
    }
    .title__secondary {
        font-size: 28px;
    }
    .phase__textMain {
        margin: 0 16px;
    }
    .phase__textDescription{
        margin: 0 16px;
    }
    .textDescription {
        font-size: 16px;
        margin: 8px 0;
    }
    .content__menu {
        height: 53%;
    }
    .phase__menuList {
        margin: 8px 0;
    }
    .phase__menuItem {
        padding: 8px;
        margin: 0;
        width: 45%;
    }
    .phase__text {
        font-size: 14px;
        margin: 0;
    }
    .phase__menuIcon {
        width: 32px;
        height: 32px;
    }
    .phase__icon {
        width: 52%;
    }
    .phase__dialog {
        top: 55%;
        font-size: 14px;
        line-height: 15px;
        width: 81%;
    }
    .phase__textMin {
        font-size: 6px;
        margin: 0;
    }

    #person4{
        height: 150px;
    }

    #person5{
        height: 150px;
    }
}

@media screen and (max-width:375px){
    .menu__title {
        height: 10%;
    }
    .menu__title:before {
        top: 50px;
        border-top: 11px solid var(--titleBlue);
        border-bottom: 24px solid transparent;
    }
    .menu__phase {
        top: 12%;
    }
    .title__secondary {
        font-size: 22px;
    }
    .phase__dialog {
        top: 52%;
    }
}