.cards.--phase8{
    flex-direction: column;
}
.card__text.--toolsText8{
    font-size: 24px;
    margin: 16px;
}

.content__dialog.--her_fase8{
    align-items: flex-end;
}


@media screen and (max-width: 375px){
    .card__text.--toolsText8{
        font-size: 12px;
        width: 100%;
        margin: 0;
    }
    .card__item.--toolsCards8{
        height: 79px;
    }

}
