.background__square.--phase7{
    background-color: var(--firstLightGreen);

}
.rompecabezas{
    width: 100%;
    margin-top: 7%;
}
.background.--type014{
    background-image: url('../images/recurso_190.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--her_fase8{
    background-image: url('../images/recurso95.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--tip_fase8{
    background-image: url('../images/recurso97.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 317px;
}

.menu__title.--phase7 {
    background-color: var(--titleLightGreen);
}

.menu__title.--phase7:before {
    border-left: 36px solid var(--titleLightGreen);
    border-top: 12px solid var(--titleLightGreen);
}

.phase__menuIcon.--phase7 {
    background-color: var(--titleLightGreen);
}

.phase__text_active.--phase7 {
    color: var(--titleLightGreen);
}

.phase__text.--phase7:hover {
    color: var(--titleLightGreen);
}


