.background.--type004{
    background-image: url('../images/recurso_38.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--obj_fase1_postits{
    background-image: url('../images/recurso_31.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content__dialog.--pas_2_fase1{
    background-image: url('../images/recurso_31.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.background.--her_fase1{
    background-image: url('../images/recurso57.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background.--tip_fase1{
    background-image: url('../images/recurso_tip.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.background__back{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12;
    border-radius: 32px;
    color: white;
    font-size: 20px;
    margin: 8px;
    border-radius: 32px;
    text-decoration: none;
    height: 2%;
}

.background__backtText:hover{
    color: var(--hoverButton);
}

.menu__title:before{
    border-radius: 10px;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 36px solid var(--titleBlue);
    border-top: 12px solid var(--titleBlue);
    border-bottom: 36px solid transparent;
    left: 234px;
    top: 87%;
}

.menu__phase{
    height: 84%;
    position: absolute;
    bottom: 0;
    width: 30%;
    font-family: 'Futura_bold';
}

.phase__textMain{
    margin: 16px;
    padding: 8px;
}


.titlePhase{
    text-transform: uppercase;
    font-size: 64px;
    color: white;
    margin: 8px;
}

.title__secondary{
    font-size: 44px;
    color: white;
    margin: 0;
}

.phase__textDescription{
    color: white;
    margin: 16px;
    padding: 0 48px 0 8px;
    font-family: 'Futura_medium';
}

.textDescription{
    font-size: 20px;
}

.phase__menuList{
    list-style: none;
    padding: 8px;
    margin: 16px;
}

.phase__menuItem{
    display: flex;
    align-items: center;
    margin: 16px 0;
    cursor: pointer;
}

.phase__menuIcon{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: var(--mainButton);
}

.phase__icon{
    width: 42%;
}

.phase__menuText{
    font-family: 'Futura_heavy';
    color: white;
}

.phase__text{
    margin: 8px;
    font-size: 21px;
    padding: 0 8px;
    font-family: 'Futura_heavy';
    color: white;
}

.phase__text:hover,.phase__text_active{
    color:var(--mainButton);
}

.phase__textMin{
    margin: 0 8px;
    padding: 0 8px;
    font-size: 14px;
    font-family: 'Futura_medium';
}

.phase__dialog{
    line-height: 24px;
    background: var(--dialogBeige);
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    color: var(--secondBlue);
    font-weight: 800;
    width: 63%;
    height: fit-content;
    position: absolute;
    top: 112px;
}
/*Elementos de arrastre*/
.respuesta {
    width: 91%;
    background: #efefef;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container_drag{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 10px;
}
.box.over {
  border: 3px dotted #666;
}
.box {
  border-radius: .5em;
  padding: 10px;
  cursor: move;
  list-style: none;
  margin-bottom: 30px;
}
p.titulo_opc {
    line-height: 20px;
    color: #083b85;
    font-size: 18px;
}
.text_opc{
    line-height: 20px;
    font-size: 14px;
}
.bg_bl{
	background: #fff;
}
#endMessage {
  display: none;
}
.drag_done{
    color: #fff;
    font-size: 42px;
}
.--pas_2_fase1{
    padding-top: 7%;
}


@media screen and (max-width:1450px){
    .titlePhase{
        font-size: 56px;
    }
    .title__secondary {
        font-size: 48px;
    }
    .menu__title:before {
        top: 123px;
    }
    .textDescription {
        font-size: 18px;
    }
}

@media screen and (max-width:1280px){
    .menu__phase {
        height: 84%;
    }
}


@media screen and (max-width:768px){

    .background__back {
        border: none;
    }

    .menu__title{
        width: 100%;
        height: 14%;
    }
    .menu__title:before {
        top: 85%;
    }
    .titlePhase {
        font-size: 48px;
    }
    .menu__phase{
        width: 100%;
        top: 180px;
    }
    .phase__textDescription {
        padding: 0 8px;
    }
    .textDescription {
        font-size: 20px;
    }

    .phase__dialog{
        top: 46%;
        font-size: 20px;
    }

    .phase__menuList{
        display: flex;
        flex-wrap: wrap;
    }

    .phase__menuItem{
        width: 50%;
    }


   
    #person4
    #person5 {
        height: 463px;
    }
}

@media screen and (max-width:375px){
    .background__back{
        font-size: 14px;
        margin: 0;
        padding: 4px;
    }
    .background__backtText{
        margin: 0;
    }
    .menu__title:before {
        top: 80%;
        left: 158px;
    }
    .menu__phase {
        top: 15%;
    }
    .title__secondary {
        font-size: 28px;
    }
    .phase__textMain {
        margin: 0 16px;
    }
    .phase__textDescription{
        margin: 0 16px;
    }
    .textDescription {
        font-size: 16px;
        margin: 8px 0;
    }
    .content__menu {
        height: 53%;
    }
    .phase__menuList {
        margin: 8px 0;
    }
    .phase__menuItem {
        padding: 8px;
        margin: 0;
        width: 45%;
    }
    .phase__text {
        font-size: 14px;
        margin: 0;
    }
    .phase__menuIcon {
        width: 32px;
        height: 32px;
    }
    .phase__icon {
        width: 52%;
    }
    .phase__dialog {
        top: 55%;
        font-size: 14px;
        line-height: 15px;
        width: 81%;
    }
    .phase__textMin {
        font-size: 6px;
        margin: 0;
    }

    #person4{
        height: 150px;
    }

    #person5{
        height: 150px;
    }
}

@media screen and (max-width:360px){
    .background__back{
        bottom: 0;
    }
    .menu__title {
        height: 10%;
    }
    .menu__title:before {
        top: 50px;
        border-top: 11px solid var(--titleBlue);
        border-bottom: 24px solid transparent;
    }
    .menu__phase {
        top: 12%;
    }
    .title__secondary {
        font-size: 22px;
    }
    .phase__dialog {
        top: 52%;
    }
}