.background.--type005{
    background-image: url('../images/recurso_39.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background.--obj_fase2_postits{
    background-image: url('../images/recurso90.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.postits{
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    display: inline-flex;
    justify-content: flex-end;
    align-content: center;

}
.postits__list{
    height: 100%;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.postits__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
}

.postits__itemTittle{
    font-family: 'Futura_bold';
    color:  var(--secondBlue);  
    font-size: 40px;
}

.postits__text{
    margin: 16px;
    padding: 16px;
    font-size: 14px;
    color:  var(--secondBlue);  
}

.postits__itemPost{
    height: 370px;
    width: 80%;
    display: flex;
    align-items: center;
}

#post1 {
    background-image: url('../images/recurso_41.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
#post2 {
    background-image: url('../images/recurso_42.png');
    background-repeat: no-repeat;
    height: 250px;
}

#post2 p{
    font-size: 40px;
}

.postits__itemList{
    list-style: none;
}

#post3 {
    background-image: url('../images/recurso_48.png');
    background-repeat: no-repeat;
    height: 278px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
}
#post4 {
    background-image: url('../images/recurso_45.png');
    background-repeat: no-repeat;
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 249px;
    position: absolute;
    right: 1%;
    top: 66%;
}
#post5 {
    background-image: url('../images/recurso_46.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 338px;
    width: 312px;
    position: absolute;
    top: 40%;
    right: 15%;
}

#post5 p{
    padding: 0 32px 0 8px;
}

.postits__itemPost.--thirdColumn{
    width: 100%;
}
.postits__itemList{
    height: 100%;
    padding: 0;
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
}


@media screen and (max-width:1450px){
    #post1 {
        background-size: 100%;
        height: 322px;
        width: 96%;
    }
    #post2 {
        background-size: 100%;
        height: 222px;
        width: 70%;
    }
    #post3{
        background-size: 100%;
        height: 231px;
        width: 218px;
        font-size: 14px;
    }
    #post5{
        background-size: 100%;
        height: 291px;
        width: 251px;
        font-size: 14px;
        position: absolute;
        right: 17%;
        top: 44%;
    }
    #post4{
        top: 70%;
        right: 4%;
        background-size: 100%;
        height: 224px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 206px;
        position: absolute;
        font-size: 14px;
    }
}

@media screen and (max-width:1280px){
    .postits__itemTittle {
        font-size: 36px;
    }
}

@media screen and (max-width:720px){
    .postits {
        height: 54%;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .postits__itemPost.--thirdColumn{
        width: inherit;
        height: inherit;
    }

    .postits__list{
        flex-direction: column;
        height: fit-content;
    }
    .postits__item{
        width: 80%;
    }

    .postits__text {
       font-size: 15px;
    }
    #post1 {
        width: 40%;
    }
    #post2 {
        width: 32%;
    }
    #post4 {
        position: inherit;
        width: 72%;
        height: 353px;
    }
    #post5 {
        width: 71%;
        height: 353px;
        position: inherit;
    }
    #post3 {
        position: inherit;
        width: 75%;
        height: 374px;
    }
}

@media screen and (max-width:375px){
    .postits {
        width: 100%;
        height: 50%;
    }
    .postits__list{
        flex-direction: column;
    }

    .postits__text{
        font-size: 12px;
    }
    .postits__item {
        width: 100%;
    }
    .postits__itemPost{
        width: 90%;
    }
    #post1 {
        width: 73%;
    }
    #post2 {
        width: 55%;
    }
    #post3 {
        width: 95%;
    }
    #post4 {
        width: 95%;
    }
    #post5 {
        width: 95%;
    }
}
