:root {
    --firstBlue:            #1db5e0;
    --secondBlue:           #083b85;
    --titleBlue:            #7ecfe4;
    --dialogBeige:          #fbf6db;

    --mainButton:           #0096e0;
    --hoverButton:          #f85636;

    --firstPurple:          #f9d7f9;
    --titlePurple:          #ea7de4;
    --darkPurple:           #a640a9;

    --firstOrange:          #f7d6c9;
    --titleOrange:          #ffa070;

    --firstGreen:           #ebed98;
    --titleGreen:           #b8bf5c;

    --fisrtPink:            #e78784; 
    --titlePink:            #f77978; 

    --firstYellow:          #f7dda4; 
    --titleYellow:          #f4bc2f;

    --firstLightGreen:      #c27c5f; 
    --titleLightGreen:      #79c279;

    --firstMora:            #d4d4f4; 
    --titleMora:            #9e94f7;
}

@font-face {
    font-family: Futura_heavy;
    src: url("../fonts/Futura_Heavy_font.ttf");
}

@font-face {
    font-family: Futura_bold;
    src: url("../fonts/Futura_Bold_font.ttf");
}

@font-face {
    font-family: Futura_black;
    src: url("../fonts/Futura_Extra_Black_font.ttf");
}

@font-face {
    font-family: Futura_medium;
    src: url("../fonts/futura_medium.ttf");
}

@-moz-keyframes animationMoto {
    0%   {left: calc(0%);}
    50%  {left: calc(30%);}
    /* 80%  {left: 1200px; bottom: 104px;} */
    100% {left: calc(85%);}
}

@keyframes animationMoto {
    0%   {left: calc(0%);}
    50%  {left: calc(30%);}
    /* 80%  {left: 1200px; bottom: 104px;} */
    100% {left: calc(85%);}
}

@-moz-keyframes animationBike{
    0%   {left: calc(0%);}
    /* 80%  {left: 1200px; bottom: 104px;} */
    100% {left: calc(85%);}
}

@keyframes animationBike{
    0%   {left: calc(0%);}
    /* 80%  {left: 1200px; bottom: 104px;} */
    100% {left: calc(85%);}
}

@-moz-keyframes animationBike2{
    0%   {right: calc(0%);}
    /* 80%  {left: 1200px; bottom: 104px;} */
    100% {right: calc(90%);}
}

@keyframes animationBike2{
    0%   {right: calc(0%);}
    /* 80%  {left: 1200px; bottom: 104px;} */
    100% {right: calc(90%);}
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    
}   

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Futura_heavy;
}

button{
    cursor: pointer;
}

