:root {
    --firstBlue:            #1db5e0;
    --secondBlue:           #083b85;
    --titleBlue:            #7ecfe4;
    --dialogBeige:          #fbf6db;

    --mainButton:           #0096e0;
    --hoverButton:          #f85636;

    --firstPurple:            #1db5e0;
    --secondPurple:           #083b85;
    --titlePurple:            #ea7de4;

    --mainPurple:           #0096e0;
    --hoverPurple:          #f85636;

}

@font-face {
    font-family: Futura_heavy;
    src: url("../fonts/Futura_Heavy_font.ttf");
}

@font-face {
    font-family: Futura_bold;
    src: url("../fonts/Futura_Bold_font.ttf");
}

@font-face {
    font-family: Futura_black;
    src: url("../fonts/Futura_Extra_Black_font.ttf");
}

@font-face {
    font-family: Futura_medium;
    src: url("../fonts/futura_medium.ttf");
}

@font-face {
    font-family: indie;
    src: url("../fonts/indie.ttf");
}

@keyframes animationMoto {
    0%   {left: calc(0px); bottom: calc(104px);}
    50%  {left: calc(620px); bottom: calc(104px);}
    /* 80%  {left: 1200px; bottom: 104px;} */
    100% {left: calc(2000px); bottom: calc(104px);}
}

@keyframes animationBike{
    0%   {left: calc(200px); bottom: calc(156px);}
    /* 80%  {left: 1200px; bottom: 104px;} */
    100% {left: calc(2000px); bottom: calc(156px);}
}

@keyframes animationBike2{
    0%   {right: calc(0px); bottom: calc(180px);}
    /* 80%  {left: 1200px; bottom: 104px;} */
    100% {right: calc(1880px); bottom: calc(180px);}
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    
}   

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Futura_heavy;
}

button{
    cursor: pointer;
}

