/* Estilos flip cards intro */

.backgroundC.--type002{
    background-image: url('../images/recurso_29.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    width: 70%;
    height: inherit; 
    justify-content: space-around;
}
.cards{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 11;
    width: 100%;
    height: inherit; 
    perspective: 1000px;
}

.card__img{
    width: 70%;
}

#card1{
    font-size: 17px;
    padding: 19px 0;
    width: 100%;
}

.card__icon{
    width: 45%;
}
.cards.--toolsCards2.--intro{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.card__item{
    margin: 8px;
    width: 38%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card__item .card__text2{
    display: none;
}

.card__item:hover{
    transform: rotateY(180deg);
}

.card__item:hover .card__text{
    display: none;
}

.card__item:hover .card__text2{
    display: block;
    transform: rotateY(180deg);
}

.card__btn{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 16px;
    color: white;
    font-family: 'Futura_heavy';
    height: 100%;
}

.card__text{
    width: 60%;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0;
}

.card__text2{
    width: 100%;
    padding: 40px 8px;
    margin: 2px;
    font-size: 0.9em;
    line-height: 16px;
    text-transform: none;
}


@media screen and (max-width:1450px){
    .card__item{
        width: 47%;
    }
    .card__text {
        padding: 32px 0;
    }
    .card__img {
        width: 70%;
    }
}

/* 
@media screen and (max-width:1280px){
    .card__btn{
        padding: 8px;
    }
    .card__text{
        font-size: 20px;
        line-height: 20px;
    }
    .card__text2{
        font-size: 18px;
        line-height: 18px;
    }
} */

@media screen and (max-width:1024px){
    .backgroundC.--type002 {
        overflow-y: scroll;
    }
    .card__item {
        width: 51%;
    }

    /* .card__front{
        height: calc(243px);
    } */
    /* .cards {
        justify-content: center;
    }
    .card__item {
        width: 58%;
        height: 28%;
    } */
}

@media screen and (max-width:768px){
    .backgroundC.--type002{
        width: 100%;
    }
    .card__item {
        width: 60%;
    }
    /* .cards{
        height: 100%;
    }
    .card__item {
        width: 58%;
        height: 41%;
    }
    .card__btn {
        height: inherit; 
        display: flex;
        justify-content: center;
    } */
}

@media screen and (max-width:430px){
    /* .card__item {
        width: 80%;
        height: 34%;
    }
    .card__text{
        font-size: 18px;
    }
    .card__text2{
        font-size: 15px;
    } */
}

@media screen and (max-width:360px){
    /* .card__item{
        width: 98%;
        height: 24%;
    }
    .card__text {
        font-size: 16px;
        margin: 0;
    } */
}