.main{
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
}

.main.--intro{
    overflow-x: hidden;
    overflow-y: hidden;
}

.background{
    height: 100%;
}

.background.--invisible{
    display: none;
}

.background.--type001{
    background-image: url('../images/recurso_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background__square{
    width: 100%;
    height: 20%;
    background-color: var(--firstBlue);
    margin: 0 0 8px 0;
}
/* Estilos dialogos */

.--invisible{
    display: none !important;
}
.visible{
    display: block;
}
div.play {
    color: #d90e43;
    cursor: pointer;
}
audio::-webkit-media-controls-play-button{
    display: none;
}
audio::-webkit-media-controls-timeline{
    pointer-events: none;
}
.principal {
    height: 460px;
    width: auto !important;
    position: absolute;
    bottom: 0;
}

/* Estilos elementos animados*/

.background__animation{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.background__animationList{
    list-style: none;
}

.background__item{
    right: calc(0px);
    position: absolute;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#moto{
    bottom: calc(104px);
    animation-name: animationMoto;
}

#bike{
    bottom: calc(156px);
    animation-name: animationBike;
}

#bike2{
    bottom: calc(206px);
    animation-name: animationBike2;
}

.girl{
    display: flex;
    height: 74%;
    width: 20%;
    align-items: flex-end;
    z-index: 9;
}

.girl__img{
    width: 57px;
}

.content{
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/* Estilos menu izquierda */

.content__menu{
    width: 30%;
    height: 100%;
    background-color: var(--secondBlue);
}

.menu__title{
    height: 18%;
    width: 30%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Futura_heavy';
    background-color: var(--titleBlue);
}

.menu__logo {
    position: absolute;
    top: 0;
}
.logo{
    width: 90%;
}

.menu__options{
    display: flex;
    flex-direction: row-reverse;
    height: 60%;
    align-items: center;
}

.menu__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__listItem{
    margin: 8px 0;
    display: flex;
    justify-content: flex-end;
}

.menu__listBtn{
    cursor: pointer;
    background-color: var(--mainButton);
    border-radius: 32px 0 0 32px;
    border: none;
    display: flex;
    font-size: 18px;
    font-family: 'Futura_heavy';
    text-align: start;
    width: 80%;
    display: flex;
    align-items: center;
    color: white;
}

.menu__listBtn:hover,.menu__listBtn_active{
    background-color: var(--hoverButton);
}

.menu__listBtn__img{
    border-radius: 100%;
    background: white;
    padding: 8px;
    margin: 8px;
    height: 24px;
}

.menu__listBtn__text{
    margin: 0 8px;
}

.menu__person{
    position: absolute;
    display: inline-flex;
    flex-direction: row-reverse;
    bottom: 0;
    left: 22%;
    height: 64%;
}

.menu__personRight{
    position: absolute;
    bottom: 0;
    right: 8%;
    height: 64%;
}

/* Estilos menu derecha - dialogo */

.content__dialog{
    display: flex;
    justify-content: center;
    width: 70%;
}

.dialog{
    line-height: 24px;
    background: var(--dialogBeige);
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    color: var(--secondBlue);
    font-weight: 800;
    width: 63%;
    height: fit-content;
    position: absolute;
    top: 112px;
}

.dialog__text:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 40px solid var(--dialogBeige);
    border-right: 27px solid transparent;
    border-top: 12px solid var(--dialogBeige);
    border-bottom: 54px solid transparent;
    left: 34px;
    top: 70px;
}

@media screen and (max-width:1450px){
    .person {
        height: 100%;
        left: 22%;
        position: absolute;
        bottom: 0;
    }
    .menu__personRight{
        right: 19%;
    }
    .dialog{
        width: 60%;
    }
    .girl__img {
        width: 55px;
    }
}

@media screen and (max-width:1280px){
    .dialog{
        width: 55%;
    }
    .girl {
        height: 70%;
        width: 27%;
    }
    .logo{
        width: 80%;
    }
    .menu__title{
        width: 30%;
    }
    .menu__title:before {
        top: 82%;
    }
    
}

@media screen and (max-width:720px){
    .person {
        height: 55%;
    }
    .background__square{
        display: none;
    }
    .background__animation{
        display: block;
        z-index: 2;
    }
    .girl{
        display: none;
    }
    .content {
        display: block;
        background-color: rgba(6,5,41, 65%);
    }
    .content__menu{
        height: 40%;
        width: 100%;
    }
    .content__dialog{
        width: 100%;
    }
    .logo{
        width: 96px;
    }
    .menu__options{
        display: block;
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .menu__listItem{
        margin: 8px 0;
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .menu__listBtn{
        align-items: center;
        width: 93%;
        border-radius: 32px;
    }
    .menu__listBtn__text {
        font-size: 24px;
    }
    .menu__person.--person4{
        left: 6%;
    }
    .menu__personRight{
        right: 30%;
    }
    .dialog{
        width: 80%;
        top: 403px;
        line-height: 28px;
        padding: 24px;
    }
    .dialog__text{
        font-size: 24px;
    }

    .dialog__text:before{
        left: 144px;
        top: 144px;
    }
}

@media screen and (max-width:375px){
    .logo{
        width: 45%;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .menu__listItem{
        margin: 4px 0;
    }
    .menu__listBtn{
        font-size: 14px;
    }
    .menu__listBtn__img{
        margin: 0;
        height: 16px;
        padding: 6px;
    }
    .menu__listBtn__text {
        font-size: 16px;
    }

    .menu__options {
        display: flex;
        height: 64%;
        align-items: center;
        justify-content: center;
    }
    .dialog{
        width: 80%;
        top: 216px;
    }
    .dialog__text{
        font-size: 16px;
        line-height: 16px;
    }
    .dialog__text:before{
        left: 77px;
        top: 110px;
        border-bottom: 16px solid transparent;
    }
    .person {
        height: 47%; 
    }
}

@media screen and (max-width:360px){
    .content__menu {
        height: 30%;
    }
    .logo{
        width: 48px;
    }
    .menu__listItem {
        margin: 2px 0;
    }
    .menu__listBtn__text {
        font-size: 14px;
    }
    .dialog{
        top: 203px;
    }
    .dialog__text{
        line-height: 17px;
        font-size: 14px;
    }
    .dialog__text:before{
        top: 117px;
    }
}

