/* Estilos flip cards intro */

.background.--type002{
    background-image: url('../images/recurso_29.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    width: 70%;
    justify-content: space-around;
}
.cards{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 11;
    width: 90%;
}

.cards li:nth-child(1){
    background-image: url('../images/recurso_19.png');
}
.cards li:hover:nth-child(1){
    background-image: url('../images/recurso_24.png');
}
.cards li:nth-child(2){
    background-image: url('../images/recurso_21.png');
}
.cards li:hover:nth-child(2){
    background-image: url('../images/recurso_25.png');
}
.cards li:nth-child(3){
    background-image: url('../images/recurso_22.png');
}
.cards li:hover:nth-child(3){
    background-image: url('../images/recurso_26.png');
}
.cards li:nth-child(4){
    background-image: url('../images/recurso_23.png');
}
.cards li:hover:nth-child(4){
    background-image: url('../images/recurso_27.png');
}

.card__item{
    margin: 8px;
    width: 38%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 8px;
    height: 257px;  
}

.card__item .card__text2{
    display: none;
}

.card__item:hover{
    transform: rotateY(180deg);
}

.card__item:hover .card__text{
    display: none;
}

.card__item:hover .card__text2{
    display: block;
    transform: rotateY(180deg);
}

.card__btn{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 16px;
    color: white;
    font-family: 'Futura_heavy';
}

.card__text{
    width: 50%;
    font-size: 24px;
    text-transform: uppercase;
}

.card__text2{
    width: 100%;
    font-size: 20px;
    text-transform: none;
}


@media screen and (max-width:1450px){
    .card__item{
        width: 46%;
    }
    .card__btn{
        padding: 8px;
    }
}

@media screen and (max-width:1280px){
    .card__btn{
        padding: 8px;
    }
    .card__text{
        font-size: 20px;
    }
    .card__text2{
        font-size: 18px;
    }
}

@media screen and (max-width:720px){
    .background.--type002{
        bottom: 0;
        height: 68%;
        width: 100%;
    }
    .cards{
        margin: 8px;
        height: 67%;
    }
    .card__item{
        padding: 8px;
        height: 181px;
        width: 45%;
    }
}

@media screen and (max-width:375px){
    .background.--type002{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 60%;
        width: 100%;
        overflow-y: scroll;
    }
    .card__item{
        width: 72%;
        height: 139px;
    }
    .card__text{
        font-size: 18px;
    }
    .card__text2{
        font-size: 14px;
    }
}

@media screen and (max-width:360px){
    .background.--type002{
        height: 70%;
    }
    .card__text2{
        margin: 0;
        font-size: 12px;
    }
}