/* Estilos flip ruta intro */

.background.--type003{
    background-image: url('../images/recurso_31.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display: flex;
}

.routeContent{
    height: 100%;
    width: 30%;
}

.routeContent__menu{
    height: 100%;
    background-color: var(--secondBlue);
}
.route{
    width: 70%;
}
.route__center{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.route__options{
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 70%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.route__list{
    top: 0;
    list-style: none;
    padding: 0;
    width: 90%;
}

#contentBtn{
    width: 100%;
    text-decoration: none;
}

.route__list li:nth-child(1) a{
    margin: 0 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.route__list li:nth-child(2) a{
    /* margin: 0 259px; */
    background-repeat: no-repeat;
    background-size: 100%;
}
.route__list li:nth-child(3) a{
    /* margin: 0 259px; */
    background-repeat: no-repeat;
    background-size: 100%;
}
.route__list li:nth-child(4) a{
    margin: 0 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.route__item{
    display: flex;
    margin: 16px -16px;
    justify-content: space-between;
}

.route__img{
    cursor: pointer;
    height: 132px;
    width: 300px;
}

#img1{
    background-image: url('../images/recurso_110.png');
}
#img1:hover{
    background-image: url('../images/recurso_119.png');
}
#img2{
    background-image: url('../images/recurso_111.png');
}
#img2:hover{
    background-image: url('../images/recurso_120.png');
}
#img3{
    background-image: url('../images/recurso_112.png');
}
#img3:hover{
    background-image: url('../images/recurso_121.png');
}
#img4{
    background-image: url('../images/recurso_113.png');
}
#img4:hover{
    background-image: url('../images/recurso_122.png');
}
#img5{
    background-image: url('../images/recurso_114.png');
}
#img5:hover{
    background-image: url('../images/recurso_123.png');
}
#img6{
    background-image: url('../images/recurso_115.png');
}
#img6:hover{
    background-image: url('../images/recurso_124.png');
}
#img7{
    background-image: url('../images/recurso_116.png');
}
#img7:hover{
    background-image: url('../images/recurso_125.png');
}
#img8{
    background-image: url('../images/recurso_117.png');
}
#img8:hover{
    background-image: url('../images/recurso_126.png');
}


@media screen and (max-width:1450px){
    .route__list li a{
        background-size: 100%;
    }
    .route__img {
        width: 273px;
    }
}

@media screen and (max-width:1360px){
    .route__img {
        width: 237px;
    }
    .route__list{
        width: 93%;
    }
   
}

@media screen and (max-width:1280px){
    .route__img {
        width: 262px;
    }
    .center{
        width: 34%;
    }
    .route__list li:nth-child(1) a {
        margin: 0 76px;
    }
    .route__list li:nth-child(4) a {
        margin: 0 76px;
    }
}

@media screen and (max-width:768px){
    .background.--type003 {
        position: relative;
        display: flex;
        flex-direction: column;
        background-image: none;
        background-color: var(--titleBlue);
    }
   .routeContent {
        height: 15%;
        width: 100%;
    }
    .route{
        width: 100%;
        background-color: var(--titleBlue);
        height: auto;
        position: inherit;
        display: flex;
        flex-direction: column;
    }
    .route__center{
        display: flex;
        justify-content: center;
        margin: 8px; 
        height: auto;
    }

    .center {
        width: 48%;
    }

    .route__options {
        position: initial;
        height: auto;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    .route__list{
        list-style: none;
        padding: 0;
        width: 90%;
        margin: 0px;
        height: 100%;
    }
    .route__item{
        display: flex;
        justify-content: space-around;
    }
    .route__img{
        margin: 8px;
        width: 324px;
    }
    .route__list li:nth-child(1) a {
        margin: 0;
    }
    .route__list li:nth-child(2) a {
        margin: 0;
    }
    .route__list li:nth-child(3) a {
        margin: 0;
    }
    .route__list li:nth-child(4) a {
        margin: 0;
    }
}

@media screen and (max-width:430px){
    
    /* .route__item {
        margin: 2px;
    }
    .route__list{
        margin: 8px 0;
        height: 50%;
    } */
    .route__img{
        width: 164px;
        height: 67px;
    }
}